@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Dancing+Script:wght@600&display=swap');

html,.container,body{
    background-color: #93B5C6 !important;
   

}
h1{

    font-family: 'Dancing Script', cursive;
        font-size: 5rem !important;
    color: #4B3869 !important;
}

.palette-container {
    padding:1rem;
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1.2rem;
}
.color-card {
    padding:0.4rem;
    background-color: #ffffff;
    border-radius: 1%;
    height: 300px;
    transition:ease-out 0.3s;
    
}
.color-card:hover {
    transform: scale(1.03);
}
.color {
    width:100%;
    height:90%;
    position:relative;
   
}
.far{
    cursor: pointer;
}
.generate-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    font-size: 2rem;
    position: relative;
    font-family: 'Dancing Script', cursive;
}
.popup {
    background: #7B4B94;
    width: 50%;
    margin: 0 auto;
    padding:0.8rem;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
    transform: translateY(-120%);
    transition:ease-out 0.3s;
    text-align: center;
}
.fa-times {
    position:absolute;
    top: 5px;
    right:5px;
    cursor: pointer; 
}
.fa-copy {
    position:absolute;
    right:10px;
    top:10px;
    opacity:0.5;
    cursor: pointer;
    transition:ease-out 0.2s;
}
.fa-copy:hover {
    opacity: 1;
}



@media only screen and (max-width:850px) {
    .color-card {
        height:300px;
    }
    
}

@media only screen and (max-width:750px) {
     h1 {
        font-size: 1.4rem;
    }
   .palette-container {
       margin-top: 1rem;
       grid-template-columns: repeat(2,1fr);
       justify-items: center;
   }
   .color-card {
         width: 100%;
         height:200px;
}
.popup {
    width:80%;
}
}